<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- ===================== -->
    <!-- Spring 정보 -->
    <!-- ===================== -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <property name="LOG_PATH" value="./logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOG_PATH}/info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info_${type}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===================== -->
    <!-- Elasticsearch Appender -->
    <!-- ===================== -->
    <appender name="ELASTIC" class="com.internetitem.logback.elasticsearch.ElasticsearchAppender">

        <!-- ES endpoint -->
        <url>http://localhost:9200/_bulk/</url>
        <!-- index -->
        <index>${APP_NAME}</index>
        <includeMdc>true</includeMdc>
        <maxQueueSize>10000</maxQueueSize>
        <maxRetries>3</maxRetries>
        <sleepTime>1000</sleepTime>
        <headers>
            <header>
                <name>Content-Type</name>
                <value>application/json</value>
            </header>
        </headers>
    </appender>

    <!-- TRACE > DEBUG > INFO > WARN > ERROR > OFF -->
    <!-- Root Logger -->

    <!--    <root level="INFO">-->
    <!--        <appender-ref ref="console"/>-->
    <!--        <appender-ref ref="INFO_LOG"/>-->
    <!--    </root>-->

    <!-- 프로파일 미지정/기타: 기본값 -->
    <springProfile name="default">
        <root level="*">
            <appender-ref ref="console"/>
            <appender-ref ref="ELASTIC"/>
            <appender-ref ref="INFO_LOG"/>
        </root>
<!--        <root level="INFO">-->
<!--            <appender-ref ref="console"/>-->
<!--            <appender-ref ref="ELASTIC"/>-->
<!--            <appender-ref ref="INFO_LOG"/>-->
<!--        </root>-->


    </springProfile>

</configuration>